<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Bitcoin library for .NET -->
  <package id="NBitcoin" version="7.0.30" targetFramework="net462" />
  
  <!-- Ethereum library for .NET -->
  <package id="Nethereum.Web3" version="4.18.0" targetFramework="net462" />
  
  <!-- JSON serialization library -->
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  
  <!-- Cryptography libraries -->
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net462" />
</packages>
